body {
    background: rgb(255, 228, 232);
}
/* Select by TAG type*/
p{
    color: white;
    background: rgb(7, 110, 7);
}
/*Select by ID name (unique) */
#alyn{
    color: black;
    background: lightgreen;
}
/*Select by CLASS name (shared styles)*/

.uniform {
    color: rgb(223, 18, 161);
}

h1{
    color: rgb(223, 18, 161);
    font-weight:300;
    font-style:italic;
    font-size:34px;
    font-family:Impact;
    text-align:center

}
